
    <div class="card">
        <div class="card-body">

          <h3>Sales</h3>
            <!-- This is some text within a card block. -->
            <div>
              <div style="display: block">
                <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  chartType="doughnut"
                  [colors]="colors"
                  >
                </canvas>
              </div>
            </div>
            <!-- Cambio de ubicacion ek router outlet -->
            
       </div>
    </div>
